typer~=0.20.0
rich~=14.2.0
kubernetes==33.1.0
toml~=0.10.2
requests~=2.32.4
xmltodict~=1.0.2
PyYAML~=6.0.2
tomlkit~=0.13.3
cryptography~=46.0.3
urllib3~=2.6.1
pyOpenSSL~=25.3.0
Jinja2~=3.1.6
packaging~=25.0
ruamel.yaml==0.18.16