typer~=0.21.1
rich~=14.2.0
kubernetes==35.0.0
toml~=0.10.2
requests~=2.32.4
xmltodict~=1.0.2
PyYAML~=6.0.2
tomlkit~=0.14.0
cryptography~=46.0.3
urllib3~=2.6.3
pyOpenSSL~=25.3.0
Jinja2~=3.1.6
packaging~=25.0
ruamel.yaml==0.19.1