apiVersion: v1
kind: Secret
metadata:
  labels:
    fncm.ibm.com/backup-type: mandatory
  name: {{ secret_name }}
type: Opaque
data:
{% for key, value in values.items() %}
  {{ key }}: {{ value }}
{% endfor %}